body {
  background-color: rgb(255, 255, 255);
  font-family: Montserrat;
  align: center;
  padding-left: 10vw;
}

span {
  border-color: black;
  border-width: 10px;
  border-style: solid;
  margin: 2%;
  display: block;
  text-align: center;
  padding: 5%;
}

title {
  font-size: 0.2em;
  padding: 0%;
}

h1 {
  margin: 10%;
}

h2 {
  clear: both;
  text-align: centre;
  margin-top: 50px;
}

h3 {
  margin-top: 100px;
}

p {
  width: 60vw;
}

#red {
  color: rgb(255, 0, 0);
}

ul {
  text-align: left;
}

#blue {
  color: blue;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

.redfill {
  background-color: red;
}

.bluefill {
  background-color: blue;
}

.yellowfill {
  background-color: yellow;
}

.square {
  width: 10vw; /* Adjust the width and height to make it a square */
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure text stays within the box */
  white-space: nowrap; /* Prevent text from wrapping */
  text-wrap: wrap;
  font-size: 1.8vw;
  padding: 30px;
}

.text {
  flex-grow: 1;
}

.single-entry {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline; /* the default for span */
  width: 100px;
  height: 160px;
  padding: 18px;
}

.inlineblock {
  display: inline-block;
  width: 100px;
  height: 160px;
  padding: 18px;
}

.block {
  display: block;
  width: 100px;
  height: 160px;
  padding: 18px;
}

div {
  width: 40vw;
}

.img {
  display: block;
  margin: 0 auto;
}
